@import './utility/index';

#banner-swiper {
	.swiper-pagination-bullet {
		border-radius: map-get($radius, co);
		background-color: map-get($basicColor, neutral-7);
		opacity: 1;
		transition: width 0.25s;
		&.swiper-pagination-bullet-active {
			width: 20px;
			background-color: map-get($basicColor, primary-1);
		}
	}
}

.category-circle {
	width: 85px;
	>.img-box {
		height: 85px;
	}
}