#categorySidebar {
  position: fixed;
  left: 0;
  top: 0;
  @include size(100%, 100dvh);
  background-color: map-get($basicColor, neutral-7);
  transform: translateX(-100%);
  transition: transform 0.15s ease;
  z-index: 1001;
  &.open {
    transform: translateX(0);
  }
  >.category-header {
    .logo-bg {
      @include size(120px, 32px);
      background-image: url("../img/header_logo.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  .scroll-block {
    height: calc(100dvh - 60px - 44px);
    .category-item {
      &.active {
        color: map-get($basicColor, neutral-7);
        background-color: map-get($basicColor, primary-1);
      }
    }
  }
}