#my-header {
	position: sticky;
	top: 0;
	z-index: 1000;
	.logo-bg {
		@include size(120px, 32px);
		background-image: url("../img/header_logo.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
	}
	.icon-page-link {
		position: relative;
		font-size: map-get($fontSize, xl, size);
		color: map-get($basicColor, neutral-0);
	}
	.bell-dot {
		position: absolute;
		right: -3px;
		top: 0px;
		@include size(8px);
	}
	.cart-count {
		position: absolute;
		right: -10px;
		top: -5px;
		@include size(22px, 16px);
		line-height: 16px;
		font-size: map-get($fontSize, xs, size);
	}
}