#keywordSidebar {
  position: fixed;
  left: 0;
  top: 0;
  @include size(100%, 100dvh);
  background-color: map-get($basicColor, neutral-7);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.15s ease, visibility 0.15s ease;
  z-index: 1001;
  &.open {
    opacity: 1;
    visibility: visible;
  }
  >.keyword-header {
    box-shadow: map-get($shadow, header);
    .logo-bg {
      @include size(120px, 32px);
      background-image: url("../img/header_logo.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  >.search-block {
    input {
      flex: 1;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: map-get($radius, full);
      border-bottom-left-radius: map-get($radius, full);
    }
    button {
      flex: 0 0 80px;
      border-top-right-radius: map-get($radius, full);
      border-bottom-right-radius: map-get($radius, full);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  >.lists-block {
    height: calc(100dvh - 56px - 68px - 28px);
    .keyword-item {
      white-space: nowrap;
    }
  }
}