@each $key, $value in $marginData {
  .m-#{"" + $key} {
    margin: $value !important;
  }

  .mt-#{"" + $key} {
    margin-top: $value !important;
  }

  .mr-#{"" + $key} {
    margin-right: $value !important;
  }

  .mb-#{"" + $key} {
    margin-bottom: $value !important;
  }

  .ml-#{"" + $key} {
    margin-left: $value !important;
  }

  .mx-#{"" + $key} {
    margin-left: $value !important;
    margin-right: $value !important;
  }

  .my-#{"" + $key} {
    margin-top: $value !important;
    margin-bottom: $value !important;
  }

}

@each $key, $value in $marginData {
  .space-x-#{"" + $key} {
    >*+* {
      margin-left: $value;
    }
  }
  .space-y-#{"" + $key} {
    >*+* {
      margin-top: $value;
    }
  }
}