.step-block {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: map-get($marginData, 16);
	.step-item {
		.number {
			@include size(40px);
			line-height: 40px;
			margin: 0 auto;
			text-align: center;
			background-color: map-get($basicColor, neutral-4);
			color: map-get($basicColor, neutral-7);
			border-radius: map-get($radius, full);
		}
		.text {
			padding-top: map-get($paddingData, 2);
			font-size: map-get($fontSize, xs, size);
			color: map-get($basicColor, neutral-2);
		}
		&.done {
			.number {
				background-color: map-get($basicColor, primary-2);
			}
			.text {
				color: map-get($basicColor, primary-2);
			}
		}
	}
	.step-line {
		background-color: map-get($basicColor, neutral-4);
		@include size(80px, 3px);
		margin-top: -20px;
		margin-left: -4px;
		margin-right: -4px;
		&.done {
			background-color: map-get($basicColor, primary-2);
		}
	}
}