.step-block {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: map-get($marginData, 16);
	.step-item {
		.number {
			@include size(40px);
			line-height: 40px;
			margin: 0 auto;
			border: 1px solid map-get($basicColor, neutral-4);
			background-color: map-get($basicColor, neutral-4);
			color: map-get($basicColor, neutral-7);
			border-radius: map-get($radius, full);
			text-align: center;
		}
		.text {
			padding-top: map-get($paddingData, 2);
			color: map-get($basicColor, neutral-2);
		}
		&.current {
			.number {
				border: 1px solid map-get($basicColor, primary-1);
				background-color: map-get($basicColor, primary-1);
				color: map-get($basicColor, neutral-7);
			}
			.text {
				color: map-get($basicColor, primary-1);
			}
		}
		&.done {
			.number {
				border-color: map-get($basicColor, primary-2);
				background-color: map-get($basicColor, neutral-7);
				color: map-get($basicColor, primary-2);
			}
			.text {
				color: map-get($basicColor, primary-2);
			}
		}
	}
	.step-line {
		@include size(80px, 2px);
		background-color: map-get($basicColor, neutral-4);
		margin-top: -20px;
		margin-left: -4px;
		margin-right: -4px;
	}
}