#subCategorySidebar {
  position: fixed;
  left: 0;
  top: 0;
  @include size(100%, 100vh);
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.15s ease, visibility 0.15s ease;
  z-index: 1001;
  &.open {
    opacity: 1;
    visibility: visible;
  }
  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 55px;
    @include size(100%, 1px);
    background-color: #fff;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.22)
  }
  >.category-header {
    padding: 12px 0;
    .fa-times {
      font-size: 30px;
    }
    .logo-title {
      font-size: 20px;
    }
  }
  >.category-content {
    height: calc(100vh - 56px);
    >div {
      float: left;
      height: 100%;
      overflow: auto;
    }
    >.sub-category-menu {
      width: 160px;
      >.sub-category-item {
        padding: 12px 6px;
        &.active {
          background-color: map-get($basicColor, limeGreen);
          >span {
            color: #fff !important;
          }
        }
        >i {
          font-size: 13px;
        }
      }
    }
    >.last-category-menu {
      width: calc(100% - 160px);
      padding: 10px;
      .last-category-item {
        padding: 6px 10px;
        border: 1px solid #e0e0e0;
        background-color: #fff;
        border-radius: 3px;
        word-break: break-all;
        &.active {
          background-color: map-get($basicColor, limeGreen);
          color: #fff;
        }
      }
    }
  }
}