<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="aes_key" content="d129652885ce50336e84edcdc3037e91">
	<meta name="base_url" content="https://knn-ec-uat.wisho2o.com">
	<title>忘記密碼(2)</title>
	<link rel="stylesheet" href="../libs/fontAwesome5/css/all.min.css">
	<link rel="stylesheet" href="../dist/css/vendor.min.css">
	<link rel="stylesheet" href="../css/main.css" />
	<script src="../libs/vue/vue.js"></script>
	<script src="../dist/js/vendor.min.js"></script>
	<script src="../dist/js/utility.js"></script>
	<script src="../dist/js/api.js"></script>
	<script src="../dist/js/vue-global-component.js"></script>
	<script src="../dist/js/vue-mixin.js"></script>
</head>

<body>
	<div id="app" v-cloak>
		<my-header :api-url="apiUrl" ref="header"></my-header>

		<category-sidebar :category-api-url="apiUrl.product_category"></category-sidebar>

		<keyword-sidebar :keyword-api-url="apiUrl.keyword"></keyword-sidebar>

		<div class="content-section">
			<div class="container">
				<h2 class="page-title">忘記密碼驗證</h2>
				<div class="formCnt">
					<validation-observer tag="div" ref="form">
						<div class="form-group mb-3">
							<div class="px-2 py-3 bd-limeGreen rounded">
								<div class="mb-0 title sm text-center">
									<p>已將驗證碼寄至</p>
									<p class="py-2">{{ encodePhoneText }}</p>
									<p>若您未收到驗證碼點選「重新寄送按鈕」。</p>
								</div>
							</div>
						</div>
						<validation-provider tag="div" class="mb-3 button-input-group" rules="required"
							v-slot="{ errors,failed }">
							<input type="text" class="form-control" placeholder="請輸入手機驗證碼" v-model.trim="user.verify_code" @keyup.enter="submitHandler"/>
							<button class="btn btn-tomatoRed" @click="sendToMobile">重新寄送</button>
							<p class="error-msg" v-show="failed">{{ errors[0] }}</p>
						</validation-provider>
						<button class="btn btn-limeGreen form-control mb-5" @click="submitHandler">驗證</button>
					</validation-observer>
				</div>
			</div>
		</div>

		<div class="modal fade" id="refillPopup" data-backdrop="static">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header mx-auto">
						<h2>提示</h2>
					</div>
					<div class="modal-body">
						<p class="text-center">請重新填寫表單</p>
					</div>
					<div class="modal-footer">
						<a :href="pageUrl.forget_password_step1" class="btn btn-limeGreen mx-auto limit">確認</a>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="tipPopup" data-backdrop="static">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header mx-auto">
						<h2>提示</h2>
					</div>
					<div class="modal-body">
						<p class="text-center">{{ tipInfo.message }}</p>
					</div>
					<div class="modal-footer">
						<a :href="pageUrl.forget_password_step3" class="btn btn-limeGreen mx-auto limit"
							v-if="tipInfo.status">確認</a>
						<button class="btn btn-limeGreen mx-auto limit" data-dismiss="modal" v-else>確認</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="smsPopup" data-backdrop="static">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header mx-auto">
						<h2>提示</h2>
					</div>
					<div class="modal-body">
						<p class="text-center">{{ smsInfo.message }}</p>
					</div>
					<div class="modal-footer">
						<button class="btn btn-limeGreen mx-auto limit" data-dismiss="modal" v-if="smsInfo.status">確認</button>
						<a :href="pageUrl.register_step1" class="btn btn-limeGreen mx-auto limit" v-else>確認</a>
					</div>
				</div>
			</div>
		</div>

		<app-download-modal></app-download-modal>

		<loading v-show="isLoading"></loading>

		<my-footer></my-footer>
	</div>

	<script type="module">
		import app from '../js/page/forgotPassword/step2.js'
		app({
			apiUrl: {
				product_category: '/api/product_category',
				keyword: '/api/scenes/home/keyword',
				resend_forget_verify: '/api/third_party_auth/resend_forget_verify',
				forget_password_verify: '/api/third_party_auth/forgot_password_verify'
			},
			pageUrl: {
				home: './home.html',
				forget_password_step1: './forgotPWD.html',
				forget_password_step3: './changePWD.html'
			}
		})
	</script>
</body>

</html>