<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="aes_key" content="d129652885ce50336e84edcdc3037e91">
	<meta name="base_url" content="https://knn-ec-uat.wisho2o.com">
	<title>首頁</title>
	<link rel="preload" as="image" href="../img/empty.jpg" id="product-preload-image">
	<link rel="preload" as="image" href="../img/banner-empty.jpg" id="banner-preload-image">
	<link rel="preload" as="image" href="../img/advertise-empty.jpg" id="ad-preload-image">
	<link rel="preload" as="image" href="../img/popular-empty.jpg" id="popular-preload-image">
	<link rel="stylesheet" href="../libs/bootstrapIcon/bootstrap-icons.min.css">
	<link rel="stylesheet" href="../dist/css/vendor.min.css">
	<link rel="stylesheet" href="../css/main.css" />
	<script src="../libs/vue/vue.js"></script>
	<script src="../dist/js/vendor.min.js"></script>
	<script src="../dist/js/utility.js"></script>
	<script src="../dist/js/api.js"></script>
	<script src="../dist/js/vue-global-component.js"></script>
	<script src="../dist/js/vue-mixin.js"></script>
	<!-- page	 -->
	<link rel="stylesheet" href="../css/index.css" />
</head>

<body>
	<div id="app" v-cloak>
		<my-header :api-url="apiUrl" ref="header"></my-header>

		<category-sidebar :category-api-url="apiUrl.product_category"></category-sidebar>

		<keyword-sidebar :keyword-api-url="apiUrl.keyword"></keyword-sidebar>
		
		<section class="content-section no-padding">
			<lazy-banner :banner-list="bannerList"></lazy-banner>

			<div class="mb-3">
				<div class="container">
					<div class="d-flex align-items-start flex-nowrap overflow-auto">
						<category-circle
							v-for="(popular,index) in popularInfo1List"
							:key="index"
							:popular="popular"
						></category-circle>
					</div>
				</div>
			</div>

			<div class="mb-3">
				<lazy-ad swiper-id="advertise-swiper" :advertise-list="advertiseList"></lazy-ad>
			</div>

			<div class="mb-3">
				<lazy-popular
					:popular-list="popularInfo2List"
					root-margin="180px 180px 180px 180px"
				></lazy-popular>
			</div>	

			<div class="mb-3" v-show="hasProductList">
				<div class="container mb-2">
					<h2>熱賣商品</h2>
				</div>
				<div class="container">
					<div class="row">
						<product-popular
							v-for="product in productList" 
							:key="product.product_code"
							:product-info="product"
						></product-popular>
					</div>
				</div>
			</div>
			
			<div class="mb-3">
				<lazy-ad
					swiper-id="advertise2-swiper" 
					:advertise-list="advertiseList"
					root-margin="100px 100px 100px 100px"
				></lazy-ad>
			</div>
	
			<div class="mb-3" v-show="hasNewsTopList">
				<div class="container">
					<h2 class="mb-2">最新消息</h2>
					<lazy-news
						:news-list="newsTopList"
						root-margin="300px 300px 300px 300px"
					></lazy-news>
				</div>
			</div>
	
			<div class="mb-3" v-show="hasNewsList">
				<div class="container">
					<div v-show="hasNewsList" class="bd-top-divide">
						<div class="list-group news" id="list-tab" role="tablist">
							<news-list v-for="news in newsList" :key="news.id" :news-info="news"></news-list>
						</div>
						<div class="mt-3 text-center">
							<a :href="pageUrl.news" class="btn btn-limeGreen rounded-pill limit">看更多</a>
						</div>
					</div>
				</div>
			</div>

		</section>

		<app-download-modal></app-download-modal>

		<logout-modal @logout="logoutHandler"></logout-modal>

		<loading v-show="isLoading"></loading>

		<my-footer></my-footer>

	</div>
	
	<script type="module">
		import app from '../js/page/home/index.js'
		app({
			apiUrl: {
				me: '/api/third_party_auth/me',
				refresh: '/api/third_party_auth/refresh',
				logout: '/api/third_party_auth/logout',
				product_category: '/api/product_category',
				keyword: '/api/scenes/home/keyword',
				cart_total: '/api/cart_total',
				notification: '/api/member/notification',
				banner: '/api/scenes/home/banner',
				popularInfo: '/api/scenes/home/popular_info',
				advertise: '/api/scenes/home/advertise',
				news_top: '/api/news_top',
				news: '/api/news',
				product_popular: '/api/product_popular',
			},
			pageUrl: {
				news: './articles.html',
				newsDetail: './articlesSingle.html',
				productDetail: './allProductDetail.html'
			}
		})
	</script>
</body>

</html>