<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="aes_key" content="d129652885ce50336e84edcdc3037e91">
	<meta name="base_url" content="https://knn-ec-uat.wisho2o.com">
	<title>訂單管理(退款申請)</title>
	<link rel="stylesheet" href="../libs/fontAwesome5/css/all.min.css">
	<link rel="stylesheet" href="../dist/css/vendor.min.css">
	<link rel="stylesheet" href="../css/main.css" />
	<script src="../libs/vue/vue.js"></script>
	<script src="../dist/js/vendor.min.js"></script>
	<script src="../dist/js/utility.js"></script>
	<script src="../dist/js/api.js"></script>
	<script src="../dist/js/vue-global-component.js"></script>
	<script src="../dist/js/vue-mixin.js"></script>
</head>

<body>
	<div id="app" v-cloak>
		<my-header :api-url="apiUrl" ref="header"></my-header>

		<category-sidebar :category-api-url="apiUrl.product_category"></category-sidebar>

		<keyword-sidebar :keyword-api-url="apiUrl.keyword"></keyword-sidebar>

		<div class="content-section">
			<template v-if="hasOrderDetail">
				<div class="container">
					<h2 class="page-title">退款申請</h2>
					<h3 class="mb-2">訂購內容</h3>
					<div class="mb-2 title sm text-link">
						<p class="mb-2 text-link">訂單編號 : {{ orderDetail.order_num }}</p>
						<p class="mb-2 text-link">訂單狀態 : {{ orderDetail.status_message }}</p>
						<p class="mb-2 text-link">付款狀態 : {{ orderDetail.pay_status_message }}</p>
						<p class="mb-2 text-link">訂單金額 : ${{ orderDetail.money_total | currency }}</p>
						<p class="mb-2 text-link">訂單日期 : {{ orderCreateTime }}</p>
						<p class="mb-2 text-link">貨運編號 : {{ orderDetail.shipping.tracking_num }}</p>
					</div>
				</div>
				<div class="p-2 bg-mintGreen">商品明細</div>
				<div>
					<div v-show="isOpen">
						<div class="container">
							<component
								v-for="product in productList"
								:key="product.uid"
								:is="product.componentName"
								:product-info="product"
							></component>
						</div>
					</div>
					<div class="py-1 mb-0 text-center bg-term title sm" @click="isOpen = !isOpen">
						<span>詳細內容</span>
						<i class="far fa-chevron-down" v-show="!isOpen"></i>
						<i class="far fa-chevron-up" v-show="isOpen"></i>
					</div>
				</div>
				<div class="mt-3">
					<div class="container">
						<h3 class="mb-2">退款申請資訊</h3>
						<p class="mb-2 title sm">申請人: {{ applicant.name }}</p>
						<div>
							<validation-observer tag="div" ref="form">
								<validation-provider class="mb-2 form-group" tag="div" rules="required|phone"
									v-slot="{ errors,failed }">
									<label class="title sm">
										<span class="text-tomatoRed">*</span>申請人電話
									</label>
									<input type="number" class="form-control" maxlength="10" placeholder="請輸入手機號碼" inputmode="numeric" v-model.trim="applicant.phone">
									<p class="error-msg" v-show="failed">{{ errors[0] }}</p>
								</validation-provider>
								<validation-provider  class="mb-2 form-group" tag="div" rules="required"
									v-slot="{ errors,failed }">
									<label class="title sm">
										<span class="text-tomatoRed">*</span>戶名
									</label>
									<input type="text" class="form-control" placeholder="請輸入戶名" v-model.trim="applicant.account_name">
									<p class="error-msg" v-show="failed">{{ errors[0] }}</p>
								</validation-provider>
								<validation-provider  class="mb-2 form-group" tag="div" rules="required"
									v-slot="{ errors,failed }">
									<label class="title sm">
										<span class="text-tomatoRed">*</span>退款收款銀行
									</label>
									<input type="text" class="form-control" placeholder="請輸入銀行名" v-model.trim="applicant.bank">
									<p class="error-msg" v-show="failed">{{ errors[0] }}</p>
								</validation-provider>
								<validation-provider class="mb-2 form-group" tag="div" rules="required"
									v-slot="{ errors,failed }">
									<label class="title sm">
										<span class="text-tomatoRed">*</span>分行
									</label>
									<input type="text"class="form-control" placeholder="請輸入分行號碼" v-model.trim="applicant.bank_branch">
									<p class="error-msg" v-show="failed">{{ errors[0] }}</p>
								</validation-provider>
								<validation-provider class="mb-2 form-group" tag="div" rules="required"
									v-slot="{ errors,failed }">
									<label class="title sm">
										<span class="text-tomatoRed">*</span>退款帳號
									</label>
									<input type="text" class="form-control" placeholder="請輸入退款帳號" v-model.trim="applicant.account">
									<p class="error-msg" v-show="failed">{{ errors[0] }}</p>
								</validation-provider>
								<label for="" class="justify-content-center form-check">
									<input type="checkbox" v-model="isAgree">
									<p class="mb-0 text-tomatoRed title sm">您所填寫的退款帳戶資料，帳戶名稱需與商品訂購人相同，退款申請人指定退款帳號非其本人帳戶時，願自負法律一切責任，與本公司無涉。</p>
								</label>
								<div class="mt-4 form-group text-center">
									<button class="btn btn-limeGreen limit" @click="submitHandler" :disabled="!isAgree">申請退款</button>
								</div>
							</validation-observer>
						</div>
					</div>
				</div>
			</template>
		</div>

		<div class="modal fade" id="tipPopup" data-backdrop="static">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header mx-auto">
						<h2>提示</h2>
					</div>
					<div class="modal-body">
						<p class="text-center">{{ tipInfo.message }}</p>
					</div>
					<div class="modal-footer">
						<a :href="pageUrl.orderManage" class="btn btn-limeGreen mx-auto limit" v-if="tipInfo.status">確認</a>
						<button class="btn btn-limeGreen mx-auto limit" data-dismiss="modal" v-else>確認</button>
					</div>
				</div>
			</div>
		</div>

		<app-download-modal></app-download-modal>

		<logout-modal @logout="logoutHandler"></logout-modal>

		<relogin-modal></relogin-modal>

		<loading v-show="isLoading"></loading>

		<my-footer></my-footer>

	</div>

	<script type="module">
		import "../js/vue-component/OrderRow/NormalOrderRow.js"
		import '../js/vue-component/OrderRow/LimitedOrderRow.js'
		import '../js/vue-component/OrderRow/ActivityOrderRow.js'
		import "../js/vue-component/OrderRow/AddonOrderRow.js"
		import app from "../js/page/member/commond-order-pay-refund.js"
		app({
			apiUrl: {
				me: '/api/third_party_auth/me',
				refresh: '/api/third_party_auth/refresh',
				logout: '/api/third_party_auth/logout',
				product_category: '/api/product_category',
				keyword: '/api/scenes/home/keyword',
				cart_total: '/api/cart_total',
				notification: '/api/member/notification',
        order_detail: '/api/order',
				order_refunds: '/api/order_pay_refunds'
			},
			pageUrl: {
				home: './home.html',
				login: './memberLogin.html',
				orderManage: './memberCenterOrderManage.html',
				orderManageDetail: './memberCenterOrderManageDetail.html',
			}
		})
	</script>
</body>

</html>