<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="aes_key" content="d129652885ce50336e84edcdc3037e91">
	<meta name="base_url" content="https://knn-ec-uat.wisho2o.com">
	<title>登入</title>
	<link rel="stylesheet" href="../libs/bootstrapIcon/bootstrap-icons.min.css">
	<link rel="stylesheet" href="../dist/css/vendor.min.css">
	<link rel="stylesheet" href="../css/main.css" />
	<script src="../libs/vue/vue.js"></script>
	<script src="../dist/js/vendor.min.js"></script>
	<script src="../dist/js/utility.js"></script>
	<script src="../dist/js/api.js"></script>
	<script src="../dist/js/vue-global-component.js"></script>
	<script src="../dist/js/vue-mixin.js"></script>
</head>

<body>
	<div id="app" v-cloak>
		<my-header :api-url="apiUrl" ref="header"></my-header>

		<category-sidebar :category-api-url="apiUrl.product_category"></category-sidebar>

		<keyword-sidebar :keyword-api-url="apiUrl.keyword"></keyword-sidebar>

		<section class="content-section">
			<div class="container">
				<h2 class="page-title">會員登入</h2>
				<div class="mb-10 text-center text-sm">如果已經是會員，登入即可快速結帳 / 查看訂單 / 修改個人資訊及更多功能。</div>

				<validation-observer class="mb-16 space-y-10" tag="div" ref="form">
					<validation-provider tag="div" rules="required|phone" v-slot="{ errors,failed }">
						<label class="text-sm">
							<span class="text-error-text">*</span>帳號
						</label>
						<input
							:class="{invalid:failed}"
							v-model.trim="user.account" 
							@keyup.enter="submitHandler"
							type="text" 
							inputmode="numeric" 
							placeholder="請輸入帳號，帳號為手機號碼"
						/>
						<p class="error-msg" v-show="failed">{{ errors[0] }}</p>
					</validation-provider>
					<validation-provider tag="div" rules="required|password" v-slot="{ errors,failed }">
						<label class="text-sm">
							<span class="text-error-text">*</span>密碼
						</label>
						<input 
							:class="{invalid:failed}"
							v-model.trim="user.password" 
							@keyup.enter="submitHandler"
							type="password" 
							placeholder="請輸入6~12英數字密碼"
						/>
						<p class="error-msg" v-show="failed">{{ errors[0] }}</p>
					</validation-provider>
					<div class="d-flex">
						<div class="d-flex align-items-center flex-grow-1">
							<input
								id="a"
								v-model="user.isKeep"
								type="checkbox" 
							/>
							<label class="ml-4 text-sm" for="a">記住我的資訊</label>
						</div>
						<div class="flex-grow-1 text-right">
							<a 
								:href="pageUrl.forget_password_step1" 
								class="text-primary-1 text-sm">
								忘記密碼<i class="bi bi-question-lg"></i>
							</a>
						</div>
					</div>
					<button class="btn btn-a" @click="submitHandler">登入</button>
					<hr class="mb-10">
					<div class="text-primary-1 text-center text-sm">
						還不是會員<i class="bi bi-question-lg"></i>
					</div>
					<a 
						:href="pageUrl.register_step1" 
						class="btn btn-outline-a">註冊光南會員</a>
				</validation-observer>
			</div>
		</section>

		<tip-modal 
			ref="tipModal1"
			:is-open.sync="tipInfo.isOpen"
			:status="tipInfo.status"
			:content="tipInfo.message"
			@confirm="confirmHandler"
		></tip-modal>

		<app-download-modal></app-download-modal>

		<loading v-show="isLoading"></loading>

		<my-footer></my-footer>

		<warning-slogan></warning-slogan>

	</div>

	<script type="module">
		import app from '../js/page/login/index.js'
		app({
			apiUrl: {
				login: '/api/third_party_auth/login',
				product_category: '/api/product_category',
				keyword: '/api/scenes/home/keyword',
			},
			pageUrl: {
				home: './home.html',
				register_step1: './memberSignUpStep1.html',
				forget_password_step1: './forgotPWD.html'
			}
		})
	</script>
</body>

</html>