<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="aes_key" content="d129652885ce50336e84edcdc3037e91">
	<meta name="base_url" content="https://knn-ec-uat.wisho2o.com">
	<title>聯絡我們管理</title>
	<link rel="stylesheet" href="../libs/fontAwesome5/css/all.min.css">
	<link rel="stylesheet" href="../dist/css/vendor.min.css">
	<link rel="stylesheet" href="../css/main.css" />
	<script src="../libs/vue/vue.js"></script>
	<script src="../dist/js/vendor.min.js"></script>
	<script src="../dist/js/utility.js"></script>
	<script src="../dist/js/api.js"></script>
	<script src="../dist/js/vue-global-component.js"></script>
	<script src="../dist/js/vue-mixin.js"></script>
</head>

<body>
	<div id="app" v-cloak>
		<my-header :api-url="apiUrl" ref="header"></my-header>

		<category-sidebar :category-api-url="apiUrl.product_category"></category-sidebar>

		<keyword-sidebar :keyword-api-url="apiUrl.keyword"></keyword-sidebar>

		<div class="content-section">
			<div class="container">
				<h2 class="page-title">聯絡我們</h2>
				<div class="mb-3">
					<div class="mb-2 search">
						<input type="text" class="form-control" placeholder="聯絡主旨" v-model.trim="criteria.keyword">
					</div>
					<div class="mb-2">
						<p class="mb-1 text-link title sm">搜尋日期</p>
						<div class="d-flex align-items-center">
							<input 
								type="text" id="dateInput" class="flex-grow-1 flex-shrink-1 form-control"
								style="border-top-right-radius:0;border-bottom-right-radius:0;">
							<button 
								class="flex-grow-0 flex-shrink-0 btn btn-limeGreen" 
								style="width:80px;height:38px;border-top-left-radius:0;border-bottom-left-radius:0;"
								@click="searchHandler"
							>搜尋</button>
						</div>
					</div>
				</div>
				<div>
					<contact-list 
						v-for="contact in contactList" 
						:key="contact.id"
						:contact="contact"
					></contact-list>
				</div>
				<div class="my-3 text-center" v-show="hasNextPage">
					<button class="btn btn-outline-limeGreen limit" @click="seeMore">{{ buttonText }}</button>
				</div>
			</div>
		</div>

		<app-download-modal></app-download-modal>

		<logout-modal @logout="logoutHandler"></logout-modal>

		<relogin-modal></relogin-modal>

		<loading v-show="isLoading"></loading>

		<my-footer></my-footer>

	</div>

	<script type="module">
		import '../js/vue-component/ContactList/index.js'
		import app from '../js/page/member/contactUs-manage.js'
		app({
			apiUrl: {
				me: '/api/third_party_auth/me',
				refresh: '/api/third_party_auth/refresh',
				logout: '/api/third_party_auth/logout',
				product_category: '/api/product_category',
				keyword: '/api/scenes/home/keyword',
				cart_total: '/api/cart_total',
				notification: '/api/member/notification',
				contact_us: '/api/contact_us',
			},
			pageUrl: {
				home: './home.html',
				login: './memberLogin.html',
				contactUsDetail: './memberCenterContactUsDetail.html'
			}
		})
	</script>
</body>

</html>