<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="aes_key" content="d129652885ce50336e84edcdc3037e91">
	<meta name="base_url" content="https://knn-ec-uat.wisho2o.com">
	<title>訂單管理詳情</title>
	<link rel="stylesheet" href="../libs/fontAwesome5/css/all.min.css">
	<link rel="stylesheet" href="../dist/css/vendor.min.css">
	<link rel="stylesheet" href="../css/main.css" />
	<script src="../libs/vue/vue.js"></script>
	<script src="../dist/js/vendor.min.js"></script>
	<script src="../dist/js/utility.js"></script>
	<script src="../dist/js/api.js"></script>
	<script src="../dist/js/vue-global-component.js"></script>
	<script src="../dist/js/vue-mixin.js"></script>
</head>

<body>
	<div id="app" v-cloak>
		<my-header :api-url="apiUrl" ref="header"></my-header>

		<category-sidebar :category-api-url="apiUrl.product_category"></category-sidebar>

		<keyword-sidebar :keyword-api-url="apiUrl.keyword"></keyword-sidebar>

		<div class="content-section">
			<template v-if="hasOrderDetail">
				<div class="mb-3 container">
					<h2 class="page-title">訂單詳情</h2>
					<h3 class="mb-2">訂購內容</h3>
					<div class="mb-2 title sm text-link">
						<p class="mb-2 text-link">訂單編號 : {{ orderDetail.order_num }}</p>
						<p class="mb-2 text-link">訂單狀態 : {{ orderDetail.status_message }}</p>
						<p class="mb-2 text-link">購買時間 : {{ orderCreateTime }}</p>
						<p class="mb-2 text-link">貨運編號 : {{ orderDetail.shipping.tracking_num }}</p>
						<p class="mb-0 text-link">付款方式 : {{ orderDetail.info.title }}</p>
					</div>
					<div>
						<a :href="orderRefundPageLink" class="btn btn-outline-secondary" v-if="orderDetail.isRefunds">退貨申請</a>
						<a :href="orderPayRefundPageLink" class="btn btn-outline-secondary" v-if="isPayRefund">退款申請</a>
						<button class="btn btn-outline-secondary" data-toggle="modal" data-target="#contactPopup">聯絡客服</button>
					</div>
				</div>
	
				<div class="p-2 bg-mintGreen">商品明細</div>
	
				<div class="container">
					<component
						v-for="product in productList"
						:key="product.uid"
						:is="product.componentName"
						:product-info="product"
					></component>
				</div>
	
				<div class="p-2 bg-mintGreen" v-if="hasAddOnList">加購商品</div>
	
				<div class="container">
					<div>
						<addon-order-row
							v-for="product in addOnList"
							:key="product.uid"
							:product-info="product"
						></addon-order-row>
					</div>
					<div class="py-2">
						<div class="d-flex align-items-center text-right mb-1">
							<p class="mb-0 pr-1 flex-grow-1 flex-shrink-1 title sm">小計加總</p>
							<p class="flex-grow-0 flex-shrink-0 text-break" style="width:100px;">
								${{ orderDetail.total | currency }}
							</p>
						</div>
						<div class="d-flex align-items-center text-right mb-1">
							<p class="mb-0 pr-1 flex-grow-1 flex-shrink-1 title sm">運費</p>
							<p class="flex-grow-0 flex-shrink-0 text-break" style="width:100px;">
								${{ orderDetail.logistics_fee | currency }}
							</p>
						</div>
						<div class="d-flex align-items-center text-right mb-1">
							<p class="mb-0 pr-1 flex-grow-1 flex-shrink-1 title sm">票券</p>
							<p class="flex-grow-0 flex-shrink-0 text-break" style="width:100px;">
								-${{ orderDetail.promo_fee | currency }}
							</p>
						</div>
						<div class="d-flex align-items-center text-right mb-1">
							<p class="mb-0 pr-1 flex-grow-1 flex-shrink-1">結帳總金額</p>
							<p class="flex-grow-0 flex-shrink-0 text-break text-tomatoRed" style="width:100px;">
								${{ orderDetail.money_total | currency }}
							</p>
						</div>
					</div>
				</div>

				<div class="mb-3 pt-2 bg-term"></div>

				<div class="container">
					<div class="mb-3" v-if="hasCoupon">
						<h3 class="mb-2 font-weight-bold">票券使用資訊</h3>
						<div class="pt-2 pr-2 pl-2 pb-0 rounded bd-bootstrap">
							<div class="d-flex align-items-start mb-2 title sm"  v-for="coupon in couponList" :key="coupon.coupon_no">
								<p class="flex-grow-0 flex-shrink-0" style="width:70px;">票券名稱 :</p>
								<p class="flex-grow-1 flex-grow-1">{{ coupon.coupon_title }}({{ coupon.coupon_no }})</p>
							</div>
						</div>
					</div>
					<div class="mb-3" v-if="showRefundData">
						<h3 class="mb-2">退貨資訊</h3>
						<div class="p-2 rounded bd-bootstrap">
							<div class="d-flex align-items-start title sm">
								<p class="flex-grow-0 flex-shrink-0" style="width:70px;">退貨狀態 :</p>
								<p class="flex-grow-1 flex-grow-1">{{ orderDetail.refunds.review }}</p>
							</div>
							<div class="d-flex align-items-start title sm" v-if="showRefundNumber">
								<p class="flex-grow-0 flex-shrink-0" style="width:70px;">退貨編號 :</p>
								<p class="flex-grow-1 flex-grow-1">{{ orderDetail.refunds.rtn_order_n }}</p>
							</div>
						</div>
					</div>
					<div class="mb-3">
						<h3 class="mb-2">相關資訊</h3>
						<div class="p-2 rounded bd-bootstrap">
							<div class="d-flex align-items-start mb-2 title sm">
								<p class="flex-grow-0 flex-shrink-0" style="width:70px;">付款方式 :</p>
								<p class="flex-grow-1 flex-grow-1">{{ paymentText }}</p>
							</div>
							<div class="d-flex align-items-start mb-2 title sm">
								<p class="flex-grow-0 flex-shrink-0" style="width:70px;">配送方式 :</p>
								<p class="flex-grow-1 flex-grow-1">{{ orderDetail.shipping.title  }}</p>
							</div>
							<div class="d-flex align-items-start title sm">
								<p class="flex-grow-0 flex-shrink-0" style="width:70px;">發票資訊 :</p>
								<p class="flex-grow-1 flex-grow-1">{{ invoiceValue }}</p>
							</div>
						</div>
					</div>
					<div class="mb-3" v-if="showOrderer">
						<h3 class="mb-2">訂購人資訊</h3>
						<div class="p-2 rounded bd-bootstrap">
							<div class="d-flex align-items-start mb-2 title sm">
								<p class="flex-grow-0 flex-shrink-0" style="width:40px;">姓名 :</p>
								<p class="flex-grow-1 flex-grow-1">{{ orderDetail.addressee_1.name }}</p>
							</div>
							<div class="d-flex align-items-start mb-2 title sm">
								<p class="flex-grow-0 flex-shrink-0" style="width:40px;">手機 :</p>
								<p class="flex-grow-1 flex-grow-1">{{ orderDetail.addressee_1.phone }}</p>
							</div>
							<div class="d-flex align-items-start title sm">
								<p class="flex-grow-0 flex-shrink-0" style="width:40px;">地址 :</p>
								<p class="flex-grow-1 flex-grow-1">{{ ordererFullAddress }}</p>
							</div>
						</div>
					</div>
					<div class="mb-3">
						<h3 class="mb-2">收件人資訊</h3>
						<div class="p-2 rounded bd-bootstrap">
							<div class="d-flex align-items-start title sm mb-2">
								<p class="flex-grow-0 flex-shrink-0" style="width:40px;">姓名 :</p>
								<p class="flex-grow-1 flex-grow-1">{{ receiverName }}</p>
							</div>
							<div class="d-flex align-items-start title sm mb-2">
								<p class="flex-grow-0 flex-shrink-0" style="width:40px;">手機 :</p>
								<p class="flex-grow-1 flex-grow-1">{{ receiverPhone }}</p>
							</div>
							<div class="d-flex align-items-start title sm mb-2">
								<p class="flex-grow-0 flex-shrink-0" style="width:40px;">地址 :</p>
								<p class="flex-grow-1 flex-grow-1">{{ receiverFullAddress }}</p>
							</div>
							<div class="d-flex align-items-start title sm">
								<p class="flex-grow-0 flex-shrink-0" style="width:40px;">備註 :</p>
								<p class="flex-grow-1 flex-grow-1">{{ receiverRemark }}</p>
							</div>
						</div>
					</div>
				</div>

			</template>
		</div>

		<contact-modal
			:product-info="{}"
			spec-img-url=""
			:show-product="false"
			@contact="contactHandler"
			ref="contactModal"
		></contact-modal>

		<div class="modal fade" id="tipPopup" data-backdrop="static">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header mx-auto">
						<h2>提示</h2>
					</div>
					<div class="modal-body">
						<p class="text-center">{{ contactTip.message }}</p>
					</div>
					<div class="modal-footer">
						<p class="btn btn-limeGreen mx-auto limit" data-dismiss="modal">確認</p>
					</div>
				</div>
			</div>
		</div>

		<app-download-modal></app-download-modal>

		<logout-modal @logout="logoutHandler"></logout-modal>

		<relogin-modal></relogin-modal>

		<loading v-show="isLoading"></loading>

		<my-footer></my-footer>

	</div>

	<script type="module">
		import '../js/vue-component/OrderRow/NormalOrderRow.js'
		import '../js/vue-component/OrderRow/LimitedOrderRow.js'
		import '../js/vue-component/OrderRow/ActivityOrderRow.js'
		import '../js/vue-component/OrderRow/AddonOrderRow.js'
		import app from '../js/page/member/common-order-detail.js'
		app({
			apiUrl: {
				me: '/api/third_party_auth/me',
				refresh: '/api/third_party_auth/refresh',
				logout: '/api/third_party_auth/logout',
				product_category: '/api/product_category',
				keyword: '/api/scenes/home/keyword',
				cart_total: '/api/cart_total',
				notification: '/api/member/notification',
				order_detail: '/api/order',
				online_service_create: '/api/online_service',
			},
			pageUrl: {
				home: './home.html',
				login: './memberLogin.html',
				orderManage: './memberCenterOrderManage.html',
				orderRefund: './memberCenterOrderManageRefund.html',
				orderPayRefund: './memberCenterOrderManagePayRefund.html'
			}
		})
	</script>

</body>

</html>