<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="aes_key" content="d129652885ce50336e84edcdc3037e91">
	<meta name="base_url" content="https://knn-ec-uat.wisho2o.com">
	<title>註冊(1)</title>
	<link rel="stylesheet" href="../libs/bootstrapIcon/bootstrap-icons.min.css">
	<link rel="stylesheet" href="../dist/css/vendor.min.css">
	<link rel="stylesheet" href="../css/main.css" />
	<script src="../libs/vue/vue.js"></script>
	<script src="../dist/js/vendor.min.js"></script>
	<script src="../dist/js/utility.js"></script>
	<script src="../dist/js/api.js"></script>
	<script src="../dist/js/vue-global-component.js"></script>
	<script src="../dist/js/vue-mixin.js"></script>
</head>

<body>
	<div id="app" v-cloak>
		<my-header :api-url="apiUrl" ref="header"></my-header>

		<category-sidebar :category-api-url="apiUrl.product_category"></category-sidebar>

		<keyword-sidebar :keyword-api-url="apiUrl.keyword"></keyword-sidebar>

		<div class="content-section">
			<div class="container">
				<h2 class="page-title">會員登入</h2>

				<step-block 
					:step-list="stepList"
					:current-step-index="1"
				></step-block>

				<validation-observer class="mb-16 space-y-10" tag="div" ref="form">
					<validation-provider tag="div" rules="required|phone" v-slot="{ errors,failed }">
						<label class="text-sm">
							<span class="text-error-text">*</span>手機號碼
						</label>
						<input 
							type="number" 
							maxlength="10" 
							inputmode="numeric" 
							placeholder="請輸入手機號碼，做為您的帳號" 
							v-model.trim="user.mobile" 
							@keyup.enter="submitHandler"
						/>
						<p class="error-msg" v-show="failed">{{ errors[0] }}</p>
					</validation-provider>
					<validation-provider tag="div" rules="required|email" v-slot="{ errors,failed }">
						<label class="text-sm">
							<span class="text-error-text">*</span>電子信箱
						</label>
						<input 
							type="email" 
							placeholder="請輸入電子信箱"
							v-model.trim="user.email" 
							@keyup.enter="submitHandler"
						/>
						<p class="error-msg" v-show="failed">{{ errors[0] }}</p>
					</validation-provider>
					<validation-provider tag="div" rules="required|password" v-slot="{ errors,failed }" vid="a">
						<label class="text-sm">
							<span class="text-error-text">*</span>密碼
						</label>
						<input 
							type="password" 
							placeholder="請輸入6~12英數字密碼" 
							v-model.trim="user.password" 
							@keyup.enter="submitHandler"
							maxlength="12" 
						/>
						<p class="error-msg" v-show="failed">{{ errors[0] }}</p>
					</validation-provider>
					<validation-provider tag="div" rules="required|confirmPw:@a" v-slot="{ errors,failed }">
						<label class="text-sm">
							<span class="text-error-text">*</span>確認密碼
						</label>
						<input 
							type="password" 
							placeholder="請輸入確認密碼"
							v-model.trim="user.confirm_password" 
							@keyup.enter="submitHandler"
							maxlength="12" 
						/>
						<p class="error-msg" v-show="failed">{{ errors[0] }}</p>
					</validation-provider>
					<validation-provider tag="div" rules="required" v-slot="{ errors,failed }">
						<label class="text-sm">
							<span class="text-error-text">*</span>姓名
						</label>
						<input 
							type="text" 
							placeholder="請輸入您的中文或英文姓名"
							v-model.trim="user.name" 
							@keyup.enter="submitHandler"
						/>
						<p class="error-msg" v-show="failed">{{ errors[0] }}</p>
						<small class="text-neutral-2">※ 超商取貨須核對之姓名</small>
					</validation-provider>
					<validation-provider tag="div" rules="required" v-slot="{ errors,failed }">
						<label class="text-sm">
							<span class="text-error-text">*</span>性別
						</label>
						<select v-model="user.gender">
							<option value="" disabled>請選擇</option>
							<option v-for="gender in genderList" :key="gender.value" :value="gender.value">
								{{ gender.title }}
							</option>
						</select>
						<p class="error-msg" v-show="failed">{{ errors[0] }}</p>
					</validation-provider>
					<validation-provider tag="div" rules="required" v-slot="{ errors,failed }">
						<label class="text-sm">
							<span class="text-error-text">*</span>安全問題
						</label>
						<select v-model="user.security_question">
							<option value="" disabled>請選擇</option>
							<option v-for="question in questionList" :key="question.value"
								:value="question.value">
								{{ question.title }}
							</option>
						</select>
						<p class="error-msg" v-show="failed">{{ errors[0] }}</p>
					</validation-provider>
					<validation-provider tag="div" rules="required" v-slot="{ errors,failed }">
						<label class="text-sm">
							<span class="text-error-text">*</span>安全問題答案
						</label>
						<input 
							type="text" 
							placeholder="請輸入答案"
							v-model="user.security_answer" 
							@keyup.enter="submitHandler"
						/>
						<p class="error-msg" v-show="failed">{{ errors[0] }}</p>
					</validation-provider>
					<div>
						<p class="text-sm">
							<span class="text-error-text">*</span>出生日期
						</p>
						<div class="d-flex flex-wrap">
							<div class="w-50 pr-4">
								<select v-model="userBirthday.year">
									<option 
										v-for="year in yearList" 
										:key="year.value" 
										:value="year.value"
									>{{ year.text }}</option>
								</select>
							</div>
							<div class="w-50 pl-4">
								<select v-model="userBirthday.month">
									<option 
										v-for="month in monthList" 
										:key="month.value" 
										:value="month.value"
									>{{ month.text }}</option>
								</select>
							</div>
							<p class="error-msg w-100" v-show="!birthdayIsValid">必須大於7歲</p>
						</div>
					</div>
					<validation-provider tag="div" rules="mobile-vehicle" v-slot="{ errors,failed }">
						<label class="text-sm">手機載具</label>
						<input 
							type="text" 
							placeholder="請輸入手機載具" 
							v-model.trim="user.einvoice_carrier_no" 
							@keyup.enter="submitHandler"
						/>
						<p class="error-msg" v-show="failed">{{ errors[0] }}</p>
					</validation-provider>
					<div class="d-flex flex-wrap">
						<div class="w-50 pr-4">
							<label class="text-sm">縣市</label>
							<select v-model="addressInfo.city">
								<option value="">請選擇</option>
								<option 
									v-for="(city,index) in cityList" 
									:key="index" 
									:value="city"
								>{{ city }}
								</option>
							</select>
						</div>
						<div class="w-50 pl-4">
							<label class="text-sm">地區</label>
							<select v-model="addressInfo.district">
								<option value="">請選擇</option>
								<option 
									v-for="(district,index) in districtList" 
									:key:="index"
									:value="district.name"
									>{{ district.name }}
								</option>
							</select>
						</div>
						<div class="w-100 mt-10">
							<label class="text-sm">地址</label>
							<input 
								type="text" 
								placeholder="詳細地址" 
								v-model.trim="addressInfo.road" 
								@keyup.enter="submitHandler"
							/>
						</div>
					</div>
					<validation-provider tag="div" class="d-flex align-items-center" rules="term" v-slot="{ errors,failed }">
						<input type="checkbox" v-model="user.agree">
						<label class="ml-4 d-flex text-sm">
							<span>我同意</span>
							<register-term 
								v-for="(value, key, index) in termInfo" 
								:key="key" 
								:info="value"
								:order="index" 
								:total="totalTerms" 
								@term-detail="shwoTermDetail"
							></register-term>
						</label>
						<p class="error-msg" v-show="failed">({{ errors[0] }})</p>
					</validation-provider>
					<div class="text-error-text text-sm">
						※ 請注意！「姓名」、「性別」、「出生日期」等欄位，註冊完成後均無法修改請謹慎填寫。
					</div>
					<div class="form-group text-center">
						<button class="d-block mb-3 w-100 btn btn-a" @click="submitHandler">下一步</button>
						<p class="text-sm">
							<span>已經有帳號了?</span>
							<a :href="pageUrl.login" class="text-primary-2">馬上登入</a>
						</p>
					</div>
				</validation-observer>
			</div>
		</div>

		<article-modal
			:title="termModal.title"
			:content="termModal.content"
			:is-open.sync="termModal.isOpen"
		></article-modal>

		<tip-modal
			:is-open.sync="tipInfo.isOpen"
			:status="tipInfo.status"
			:content="tipInfo.message"
		></tip-modal>

		<app-download-modal></app-download-modal>

		<loading v-show="isLoading"></loading>

		<my-footer></my-footer>

		<warning-slogan></warning-slogan>

	</div>

	<script type="module">
		import '../js/vue-component/Modal/ArticleModal.js'
		import '../js/vue-component/Term/RegisterTerm.js'
		import app from '../js/page/register/step1.js'
		app({
			apiUrl: {
				product_category: '/api/product_category',
				keyword: '/api/scenes/home/keyword',
				term: '/api/term/brief_term',
				register_check: '/api/third_party_auth/register_check',
				register: '/api/third_party_auth/register',
				check_barcode: '/api/ecpay/invoice/check_barcode'
			},
			pageUrl: {
				home: './home.html',
				login: './memberLogin.html',
				register_step2: './memberSignUpStep2.html'
			}
		})
	</script>

</body>

</html>