<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="aes_key" content="d129652885ce50336e84edcdc3037e91">
	<meta name="base_url" content="https://knn-ec-uat.wisho2o.com">
	<title>首頁</title>
	<link rel="preload" as="image" href="../img/empty.jpg" id="product-preload-image">
	<link rel="preload" as="image" href="../img/banner-empty.jpg" id="banner-preload-image">
	<link rel="preload" as="image" href="../img/advertise-empty.jpg" id="ad-preload-image">
	<link rel="preload" as="image" href="../img/popular-empty.jpg" id="popular-preload-image">
	<link rel="stylesheet" href="../libs/fontAwesome5/css/all.min.css">
	<link rel="stylesheet" href="../dist/css/vendor.min.css">
	<link rel="stylesheet" href="../css/main.css" />
	<script src="../libs/vue/vue.js"></script>
	<script src="../dist/js/vendor.min.js"></script>
	<script src="../dist/js/utility.js"></script>
	<script src="../dist/js/api.js"></script>
	<script src="../dist/js/vue-global-component.js"></script>
	<script src="../dist/js/vue-mixin.js"></script>
	<!-- page	 -->
	<link rel="stylesheet" href="../css/index.css" />
</head>

<body>
	<div id="app" v-cloak>
    <div class="container vh-100 d-flex justify-content-center align-items-center">
      <h1 class="text-limeGreen" v-if="isVerify">
        驗證中<span class="dotting"></span>
      </h1>
      <h1 class="text-limeGreen" v-else>驗證失敗</h1>
    </div>
	</div>
	
	<script type="module">
    import app from '../js/page/redirectAuth/index.js'
		app({
			apiUrl: {
				external_login: '/api/third_party_auth/external_login'
			},
			pageUrl: {
        home: './home.html',
			}
		})
	</script>
</body>

</html>